{% extends 'main/layout.html' %}

{% block content %}
        <body>

              <div class="row">
                  {% for i in flower %}
                <div class="col-sm-4">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ i.title }}
                    </div>
                    <div class="panel-price">{{ i.price }}</div>
                    <div class="panel-footer">{{ i.header }}</div>
                      <img src="{{ i.img.url }}" alt="">
                  </div>
                </div>
                  {% endfor %}
              </div><br>

            <footer class="container-fluid text-center">
              <p>Интернет дүкөнүнүн автордук укугу</p>
              <form class="form-inline">Келишимдерди алуу:
                <input type="email" class="form-control" size="50" placeholder="Электрондук почтанын дареги">
                <button type="button" class="btn btn-danger">Кирүү</button>
              </form>
            </footer>

            </body>
{% endblock %}