{% extends 'main/layout.html' %}

{% block content %}
    <div class="container text-center">
        <div class="h">
            <img src="photo/icon.jpg" class="img-circle" width="250" height="250">
            <h1> {{ header }}</h1>
        </div>
        <div class="h1">
            <div >
                <p class="col-sm-6">Name: {{ user.name}}</p>
                <p>Age: {{user.age}}</p>
            </div>
            <div>
                <p>Address: ул. {{address.0}}, д. {{address.1}}, кв. {{address.2}}</p>
                <p>Langs: {{langs.0}}, {{langs.1}}</p>
            </div>
        </div>
    </div>
{% endblock %}